.neo-sidebar {
	background-color: #000; /* theme setting */
	
	
	margin: 0px;
	padding: 0px;

}

.neo-sidebar-item {
	margin: 0px;
	
	border-style: solid;
	
	text-align: left;
	
	box-shadow: 0 0 8px rgba(0,0,0,0.7);
	
}
.neo-sidebar > * {
	/*border: 1px solid #FFF; /* theme setting */
	
	
	
}

.neo-sidebar-item {
	min-width: 175px;
}

.selected {
	background-color: #FFF; /* theme setting */
	color: #000; /* theme setting */
}



.neo-sidebar > .list {
	-webkit-border-radius: 0px;
	border-radius: 0px;
}

.neo-sidebar-item-unread {
	-webkit-border-radius: 12px;
	padding: 5px;
	letter-spacing: -2px;
	
}




